@import url("https://fonts.googleapis.com/css2?family=Combo&family=Inter+Tight:wght@900&family=Kanit:wght@900&family=Lato:wght@300&family=Poppins:wght@200&family=Shalimar&display=swap");
.wrappper {
  height: 100vh;
  display: grid;
  place-content: center;
}
.formWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  padding: 5rem 5rem;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(7, 7, 125) 50%,
    rgb(0, 0, 0) 100%
  );
  color: white;
}
.formWrap input {
  outline: none;
  height: 2rem;
  border-radius: 5px;
  width: 13rem;
  border-color: dodgerblue;
  border-width: 2px;
  padding: 0px 1rem;
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0 1px 8px rgba(0, 165, 241, 0.8);
}

.loginCaption {
  position: relative;
  left: 4rem;
  bottom: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  font-family: Poppins;
}
.signup {
  font-family: Lato;
  position: relative;
  left: 1rem;
  top: 2rem;
}

.formWrap button {
  padding: 9px 10px;
  border: none;
  /* background-color: #0079d3; */
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.formWrap button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.formWrap button:active:after {
  background: transparent;
}

.formWrap button:hover:before {
  opacity: 1;
}

.formWrap button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0079d3;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
