.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  input[type="text"],
  textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    resize: none;
  }
  
  button {
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  