.wrapper {
  padding: 1rem 2rem;
  background-color: rgb(6, 36, 76);
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
}

.secOneWrap {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.secTwoWrap {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.authBtn{
    padding: 5px 10px;
    border: none;
    background-color: #0079d3;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}
.userIcon{
   cursor: pointer;
}
.serachBox{
    outline: none;
    height: 1.7rem;
    border-radius: 5px;
    width: 20rem;
    border-color: dodgerblue;
    border-width: 2px;
    padding: 0px 1rem;
    background-color: transparent;
    color:#fff;
}
.searchBoxWrap{
    display: flex;
    align-items: center;
    gap: 10px;
}
.serachBox::placeholder{
    color: rgb(196, 194, 218);
}

