.wrapper {
  padding: 7px 2rem;
  font-family: poppins;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(7, 7, 125) 50%,
    rgb(0, 0, 0) 100%
  );
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
}

.MyLogo {
  background-image: url("https://media.discordapp.net/attachments/1070984839077036052/1070990056757657670/Anywhere_logo.png?width=885&height=668");
}

.secOneWrap {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.secTwoWrap {
  display: flex;
  gap: 1rem;
  align-items: center;
 
}

.createPostBtn {
  padding: 3px 25px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(20, 0, 81) 0%,
    rgb(0, 204, 222) 35%,
    rgb(0, 204, 222) 70%,
    rgb(20, 0, 81) 100%
  );
}

.authBtn {
  padding: 9px 11px;
  border: none;
  background-color: #0079d3;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}
.userIcon {
  cursor: pointer;
}
.serachBox {
  margin-top: 1rem;
  outline: none;
  height: 1.7rem;
  border-radius: 5px;
  width: 20rem;
  border-color: dodgerblue;
  border-width: 2px;
  padding: 0px 1rem;
  background-color: transparent;
  color: #fff;
}
.searchBoxWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.serachBox::placeholder {
  color: rgb(196, 194, 218);
}
