.wrappper {
  margin: 2rem;
  display: grid;
  font-family: poppins;
}
.modBtn {
  color: red;
}
.innerWrappper {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(1, 1, 183) 50%,
    rgb(0, 0, 0) 100%
  );
  gap: 20px;
  padding: 2rem 3rem;
  border-radius: 3%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

.user-profile {
  border: 1px solid #ccc;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.user-profile-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-profile-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-profile-posts {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-profile-votes {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-profile-creation-time {
  font-size: 18px;
  margin-bottom: 10px;
}
